.links{
border: 2px solid black;
border-radius: 10px;
width: 50%;
height: 40px;
padding:9px;

display: flex;
justify-content: center;
align-items: center;

text-decoration: none;

background-color:hsla(238, 100%, 71%, 1);
font-size: 28px;
}

.container-app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: hsla(238, 100%, 71%, 1);
  background: linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(258, 25%, 82%, 1) 57%, hsla(295, 100%, 84%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(258, 25%, 82%, 1) 57%, hsla(295, 100%, 84%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(258, 25%, 82%, 1) 57%, hsla(295, 100%, 84%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#696eff", endColorstr="#CCC5DC", GradientType=1 );;  
}